<div *ngIf="flights && flights.length !== 0">
  <mat-form-field class="filterbar">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="messages.get('filter')" autocomplete="off" />
  </mat-form-field>

  <div class="mat-elevation-z8 tableContainer">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{ messages.get(column) }} </th>
        <td mat-cell *matCellDef="let flight"> {{ flight[column] }} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let flight" [attr.colspan]="displayedColumns.length">
          <div class="detail" [@detailExpand]="flight == expandedElement ? 'expanded' : 'collapsed'">
            <app-edit-button class="editButton" [routerLink]="'/flight/' + flight.id"></app-edit-button>
            <mat-progress-spinner *ngIf="detailLoading"></mat-progress-spinner>
            <div *ngIf="!detailLoading" class="detailInfo">
              <label class="accentColored">Planifications pour ce vol</label> <!-- TODO: Traduire ce message -->
              <mat-nav-list role="list" *ngIf="flight.flightDetails && flight.flightDetails.length > 0">
                <mat-list-item role="listitem" *ngFor="let flightDetail of flight.flightDetails" [routerLink]="'/planning/' + flightDetail.id">
                  <span class="primaryColored">
                    <a class="link" [routerLink]="'/plane/' + flightDetail.plane.ARN">{{ flightDetail.plane.ARN }}</a>
                  : </span>
                  {{ flightDetail.departureDateTime }} - {{ flightDetail.arrivalDateTime }}
                </mat-list-item>
              </mat-nav-list>
              <p class="warnColored" *ngIf="!flight.flightDetails || flight.flightDetails.length === 0">Il n'y a pas de planification pour ce vol</p>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="row"
      [class.expandedRow]="expandedElement === row"
      (click)="fetchDetail(row); expandedElement = expandedElement === row ? null : row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detailRow"></tr>
    </table>

    <!--<mat-paginator [pageSizeOptions]="[20, 50, 100, 1000]" showFirstLastButtons></mat-paginator>-->
  </div>
</div>

<app-nothing-to-do-here *ngIf="!flights || flights.length === 0" class="centered"></app-nothing-to-do-here>
