.back_button {
  position: relative;
  left: 2.5%;
  margin-top: 10px;
}
.mode_badges {
  float: right;
  position: relative;
  right: 20px;
  top: 25px;
}
.field {
  max-width: 400px;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.actions {
  position: fixed;
  z-index: 1001;
  bottom: 20px;
  right: 20px;
}
