<button mat-fab class="back_button" color="warn" (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<mat-chip-list class="mode_badges" *ngIf="currentFlightDetail">
  <mat-chip color="primary" *ngIf="currentFlightDetail.id && !hasChanged()">
    <mat-icon>remove_red_eye</mat-icon>
    {{ messages.get('crud_read') }}
  </mat-chip>
  <mat-chip color="primary" *ngIf="currentFlightDetail.id && hasChanged()">
    <mat-icon>create</mat-icon>
    {{ messages.get('crud_edition') }}
  </mat-chip>
  <mat-chip *ngIf="!currentFlightDetail.id">
    <mat-icon>create</mat-icon>
    {{ messages.get('crud_creation') }}
  </mat-chip>
</mat-chip-list>
<mat-card class="content">
  <div *ngIf="currentFlightDetail && !isLoading">
    <h2 *ngIf="title">{{ title }}</h2>
    <h2 *ngIf="!title">{{ messages.get('plan_flight') }}</h2>
    <form [formGroup]="flightDetailFormGroup">
      <div class="field">
        <label>{{ messages.get('departure_date_time') }}</label>
        <app-date-time-picker formControlName="departureDateTime"></app-date-time-picker>
      </div>
      <div class="field">
        <label>{{ messages.get('arrival_date_time') }}</label>
        <app-date-time-picker formControlName="arrivalDateTime" [min]="formatService.stringDateFormat(flightDetailFormGroup.controls['departureDateTime'].value)"></app-date-time-picker>
      </div>
      <mat-form-field class="field">
        <mat-label>{{ messages.get('entity_plane') }}</mat-label>
        <mat-select formControlName="plane">
          <mat-option [value]="currentFlightDetail.plane.ARN">{{ currentFlightDetail.plane.ARN }}</mat-option>
          <mat-option *ngFor="let plane of planes" [value]="plane.ARN">
            {{ plane.ARN }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>{{ messages.get('entity_flight') }}</mat-label>
        <mat-select formControlName="flight">
          <mat-option [value]="currentFlightDetail.flight.id">{{ currentFlightDetail.flight.departureCity }} - {{ currentFlightDetail.flight.arrivalCity }}</mat-option>
          <mat-option *ngFor="let flight of flights" [value]="flight.id">
              {{ flight.departureCity }} - {{ flight.arrivalCity }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>
<div class="actions" *ngIf="currentFlightDetail">
  <app-delete-button [displayed]="currentFlightDetail.id" [smallButton]="hasChanged()" (validated)="delete()"></app-delete-button>
  <br />
  <app-save-button [displayed]="hasChanged()" [disabled]="!flightDetailFormGroup.valid" (validated)="save()"></app-save-button>
</div>
