@import "./../styles.scss";

.container {
  width: 100%;
  height: 100%;
  mat-drawer {
    width: 200px;
    .header {
      text-align: center;
      background-color: $udev-mesi-angular-secondary;
      padding: 10px;
      .logo {
        width: 70%;
        padding: auto;
        margin: 10px;
      }
      h2 {
        width: calc(100% - 20px);
        margin: auto;
      }
    }
    .items {
      width: 100%;
      mat-list-item {
        button {
          width: 100%;
          border-radius: 0;
          padding: 5px;
          position: relative;
          padding-left: 30px;
          mat-icon, a {
            float: left;
          }
          mat-icon {
            margin-right: 10px;
            position: relative;
            top: 4px;
            color: $udev-mesi-angular-title;
          }
          .menu_toggle {
            mat-icon {
              color: black;
              position: relative;
              top: 0px;
            }
          }
        }
        .language-selector {
          position: relative;
          left: 10px;
        }
      }
      .active {
        background-color: #E3E3E3;
      }
    }
  }
  mat-drawer-content {
    .toolbar {
      position: fixed;
      z-index: 1000;
      .title {
        color: white;
      }
    }
    .app-content {
      margin-top: 60px;
    }
  }
}
