<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <div class="header">
      <img src="../assets/logo.png" class="logo" />
      <h2>udev-mesi</h2>
    </div>
    <div class="items">
      <mat-list-item routerLink="/constructors">
        <button mat-button>
          <mat-icon class="button-icon">build</mat-icon>
          <a matLine>Constructeurs</a>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/models">
        <button mat-button>
          <mat-icon class="button-icon">book</mat-icon>
          <a matLine>Modèles</a>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/planes">
        <button mat-button>
          <mat-icon class="button-icon">airplanemode_active</mat-icon>
          <a matLine>Avions</a>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/flights">
        <button mat-button>
          <mat-icon class="button-icon">personal_video</mat-icon>
          <a matLine>Vols</a>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/flightDetails">
        <button mat-button>
          <mat-icon class="button-icon">calendar_today</mat-icon>
          <a matLine>Planification</a>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/passengers">
        <button mat-button>
          <mat-icon class="button-icon">people</mat-icon>
          <a matLine>Passagers</a>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/reservations">
        <button mat-button>
          <mat-icon class="button-icon">business_center</mat-icon>
          <a matLine>Réservations</a>
        </button>
      </mat-list-item>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
