<button mat-fab class="back_button" color="warn" (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
<mat-chip-list class="mode_badges" *ngIf="currentPassenger">
  <mat-chip color="primary" *ngIf="currentPassenger.id && !hasChanged()">
    <mat-icon>remove_red_eye</mat-icon>
      {{ messages.get('crud_read') }}
    </mat-chip>
  <mat-chip color="primary" *ngIf="currentPassenger.id && hasChanged()">
  <mat-icon>create</mat-icon>
    {{ messages.get('crud_edition') }}
  </mat-chip>
  <mat-chip *ngIf="!currentPassenger.id">
    <mat-icon>create</mat-icon>
      {{ messages.get('crud_creation') }}
    </mat-chip>
</mat-chip-list>
<mat-card class="content">
    <div *ngIf="currentPassenger && !isLoading">
      <h2>{{ title }}</h2>
      <form [formGroup]="passengerFormGroup">
        <!-- Prénom -->
        <mat-form-field class="field">
          <input matInput #firstName [placeholder]="messages.get('firstName')" maxlength="35" autocomplete="off" formControlName="firstName">
          <mat-hint align="end">{{ firstName.value.length }} / 35</mat-hint>
          <mat-error *ngIf="passengerFormGroup.controls['firstName'].hasError('minlength') && !passengerFormGroup.controls['firstName'].hasError('required')">
            {{ messages.get('field_cannot_contain_less_than_2_characters') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['firstName'].hasError('required')">
            {{ messages.get('field_is_required') }}
          </mat-error>
        </mat-form-field>

        <!-- Nom de famille -->
        <mat-form-field class="field">
          <input matInput #lastName [placeholder]="messages.get('lastName')" maxlength="40" autocomplete="off" formControlName="lastName">
          <mat-hint align="end">{{ lastName.value.length }} / 40</mat-hint>
          <mat-error *ngIf="passengerFormGroup.controls['lastName'].hasError('minlength') && !passengerFormGroup.controls['lastName'].hasError('required')">
            {{ messages.get('field_cannot_contain_less_than_2_characters') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['lastName'].hasError('required')">
            {{ messages.get('field_is_required') }}
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="field">
          <input matInput #email [placeholder]="messages.get('email')" maxlength="50" autocomplete="off"
            (blur)="checkField('email', passengerFormGroup.controls['email'])" formControlName="email">
          <mat-hint align="end">{{ email.value.length }} / 50</mat-hint>
          <mat-error *ngIf="passengerFormGroup.controls['email'].hasError('minlength') && !passengerFormGroup.controls['email'].hasError('required')">
            {{ messages.get('field_cannot_contain_less_than_2_characters') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['email'].hasError('required')">
            {{ messages.get('field_is_required') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['email'].hasError('email')">
            {{ messages.get('field_is_email') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['email'].hasError('exists')">
            {{ messages.get('email_exists') }}
          </mat-error>
        </mat-form-field>

        <!-- Genre -->
        <div class="mt-1">
          <mat-radio-group color="warn" formControlName="gender">
            <mat-radio-button value="M">{{ 'M' | identifyGender }}</mat-radio-button>
            <mat-radio-button value="F">{{ 'F' | identifyGender }}</mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- Date de naissance -->
        <div class="mt-2">
          <label>{{ messages.get('birthday') }}</label><br />
          <mat-form-field>
            <input matInput [matDatepicker]="picker" readonly="true" [placeholder]="messages.get('choose_a_date')" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Numéro de téléphone -->
        <mat-form-field class="field">
          <input matInput #phoneNumber [placeholder]="messages.get('phoneNumber')" maxlength="15" autocomplete="off"
            (blur)="checkField('phoneNumber', passengerFormGroup.controls['phoneNumber'])" formControlName="phoneNumber">
          <mat-hint align="end">{{ phoneNumber.value.length }} / 15</mat-hint>
          <mat-error *ngIf="passengerFormGroup.controls['phoneNumber'].hasError('minlength') && !passengerFormGroup.controls['phoneNumber'].hasError('required')">
            {{ messages.get('field_cannot_contain_less_than_4_characters') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['phoneNumber'].hasError('required')">
            {{ messages.get('field_is_required') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['phoneNumber'].hasError('pattern')">
            {{ messages.get('field_is_numeric') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['phoneNumber'].hasError('exists')">
            {{ messages.get('phone_number_exists') }}
          </mat-error>
        </mat-form-field>

        <!-- Numéro de carte d'identité -->
        <mat-form-field class="field">
          <input matInput #IDNumber [placeholder]="messages.get('IDNumber')" maxlength="20" autocomplete="off"
            (blur)="checkField('IDNumber', passengerFormGroup.controls['IDNumber'])" formControlName="IDNumber">
          <mat-hint align="end">{{ IDNumber.value.length }} / 20</mat-hint>
          <mat-error *ngIf="passengerFormGroup.controls['IDNumber'].hasError('minlength') && !passengerFormGroup.controls['IDNumber'].hasError('required')">
            {{ messages.get('field_cannot_contain_less_than_4_characters') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['IDNumber'].hasError('required')">
            {{ messages.get('field_is_required') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['IDNumber'].hasError('pattern')">
            {{ messages.get('field_is_numeric') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['IDNumber'].hasError('exists')">
            {{ messages.get('id_number_exists') }}
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="field">
          <input matInput #password type="password" [placeholder]="messages.get('password')" maxlength="30" autocomplete="off" formControlName="password">
          <mat-hint align="end">{{ password.value.length }} / 30</mat-hint>
          <mat-hint *ngIf="password.value.trim() === '' && currentPassenger.id">{{ messages.get('password_will_not_be_edited') }}</mat-hint>
          <mat-error *ngIf="passengerFormGroup.controls['IDNumber'].hasError('required')">
            {{ messages.get('field_is_required') }}
          </mat-error>
          <mat-error *ngIf="passengerFormGroup.controls['password'].hasError('minlength')">
            {{ messages.get('field_cannot_contain_less_than_8_characters') }}
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>
<div class="actions" *ngIf="currentPassenger">
  <app-delete-button [displayed]="currentPassenger.id" [smallButton]="hasChanged()" (validated)="delete()"></app-delete-button>
  <br />
  <app-save-button [displayed]="hasChanged()" [disabled]="!passengerFormGroup.valid" (validated)="save()"></app-save-button>
</div>
