<div *ngIf="planes && planes.length !== 0">
  <mat-form-field class="filterbar">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="messages.get('filter')" autocomplete="off" />
  </mat-form-field>

  <div class="mat-elevation-z8 tableContainer">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{ messages.get(column) }} </th>
        <td mat-cell *matCellDef="let plane">
          <mat-icon class="warnColored" *ngIf="column === 'isUnderMaintenance' && !!plane[column]">check</mat-icon>
          <span *ngIf="column !== 'isUnderMaintenance'">{{ plane[column] }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let plane" [attr.colspan]="displayedColumns.length">
          <div class="detail" [@detailExpand]="plane == expandedElement ? 'expanded' : 'collapsed'">
            <app-edit-button class="editButton" [routerLink]="'/plane/' + plane.ARN"></app-edit-button>
            <mat-progress-spinner *ngIf="detailLoading"></mat-progress-spinner>
            <div *ngIf="!detailLoading" class="detailInfo">
                <label class="accentColored">{{ messages.get('menu_planning') }}</label>
                <mat-nav-list role="list" *ngIf="plane.flightDetails && plane.flightDetails.length > 0">
                  <mat-list-item role="listitem" *ngFor="let flightDetail of plane.flightDetails" [routerLink]="'/planning/' + flightDetail.id">
                    <a [routerLink]="'/flight/' + flightDetail.flight.id" class="link primaryColored">{{ flightDetail.flight.departureCity }} - {{ flightDetail.flight.arrivalCity }} -> </a> {{ flightDetail.departureDateTime }} - {{ flightDetail.arrivalDateTime }}
                  </mat-list-item>
                </mat-nav-list>
                <p class="warnColored" *ngIf="!plane.flightDetails || plane.flightDetails.length === 0">{{ messages.get('no_planning') }}</p>
              </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="row"
      [class.expandedRow]="expandedElement === row"
      (click)="fetchDetail(row); expandedElement = expandedElement === row ? null : row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detailRow"></tr>
    </table>

    <!--<mat-paginator [pageSizeOptions]="[20, 50, 100, 1000]" showFirstLastButtons></mat-paginator>-->
  </div>
</div>

<app-nothing-to-do-here *ngIf="!planes || planes.length === 0" class="centered"></app-nothing-to-do-here>
