<button mat-fab class="back_button" color="warn" routerLink="/models">
  <mat-icon>arrow_back</mat-icon>
</button>
<mat-chip-list class="mode_badges" *ngIf="currentModel">
  <mat-chip color="primary" *ngIf="currentModel.id && !hasChanged()">
    <mat-icon>remove_red_eye</mat-icon>
    {{ messages.get('crud_read') }}
  </mat-chip>
  <mat-chip color="primary" *ngIf="currentModel.id && hasChanged()">
    <mat-icon>create</mat-icon>
    {{ messages.get('crud_edition') }}
  </mat-chip>
  <mat-chip *ngIf="!currentModel.id">
    <mat-icon>create</mat-icon>
    {{ messages.get('crud_creation') }}
  </mat-chip>
</mat-chip-list>
<mat-card class="content">
  <div *ngIf="currentModel && !isLoading">
    <h2>{{ title }}</h2>
    <form [formGroup]="modelFormGroup">
      <mat-form-field class="field">
        <input matInput #name [placeholder]="messages.get('name')" maxlength="50" autocomplete="off" [errorStateMatcher]="matcher" formControlName="name">
        <mat-hint align="end">{{ name.value.length }} / 50</mat-hint>
        <mat-error *ngIf="modelFormGroup.controls['name'].hasError('minlength') && !modelFormGroup.controls['name'].hasError('required')">
          {{ messages.get('field_cannot_contain_less_than_2_characters') }}
        </mat-error>
        <mat-error *ngIf="modelFormGroup.controls['name'].hasError('required')">
          {{ messages.get('field_is_required') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>{{ messages.get('entity_constructor') }}</mat-label>
        <mat-select formControlName="manufacturer">
          <mat-option [value]="currentModel.manufacturer.id">{{ currentModel.manufacturer.name }}</mat-option>
          <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
            {{ manufacturer.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput type="number" #countEcoSlots [placeholder]="messages.get('countEcoSlots')" autocomplete="off" [errorStateMatcher]="matcher" formControlName="countEcoSlots">
        <mat-error *ngIf="modelFormGroup.controls['countEcoSlots'].hasError('required')">
            {{ messages.get('field_is_required') }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <input matInput type="number" #countBusinessSlots [placeholder]="messages.get('countBusinessSlots')" autocomplete="off" [errorStateMatcher]="matcher" formControlName="countBusinessSlots">
        <mat-error *ngIf="modelFormGroup.controls['countBusinessSlots'].hasError('required')">
          {{ messages.get('field_is_required') }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-card>
<div class="actions" *ngIf="currentModel">
  <app-delete-button [displayed]="currentModel.id" [smallButton]="hasChanged()" (validated)="delete()"></app-delete-button>
  <br />
  <app-save-button [displayed]="hasChanged()" [disabled]="!modelFormGroup.valid" (validated)="save()"></app-save-button>
</div>
